h1,
h2,
button {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

img {
  width: 150px;
  margin-bottom: -25px;
}

section{
  max-width: 500px;
  width: 80vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  text-align: center;
  transform: translate(-50%, -50%);
  padding: 15px;
}

button {
  padding: 7px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  background-color: #0494df;
  color: white;
  border-radius: 5px;
  border: none;
}

.outline {
  border: 2px solid lightgrey;
  border-radius: 5px;
  background-color: transparent;
  color: black;
}